.heading{
    color:red;
}

.pragraph{
    color:blue;
}

.blue{
color:blue;
}

.font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .size{
  font-size: 200px;
  }
  
  .font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .color1{
    color:blue;

  }
  .color2{
    color:red;

  }
  .size1{
    font-size: 200px;
    }
    .size2{
      font-size: 500px;
      }
    .red{
        color:red;
    }